$base-color1: #121821;
$tile-color: adjust-color($base-color1, $alpha: -0.35);
$main-font: "Roboto", sans-serif;
$sub-font: "Poppins", sans-serif;

// Header
.header {
  padding: 5px 0;
  background-color: $base-color1;

  font-family: $main-font;
  font-size: 24px;
  line-height: 28px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;

  font-family: $sub-font;
  font-weight: bold;
  line-height: 36px;
  color: #bdccd3;
}

.nav {
  display: flex;
  align-items: center;

  &__toggle {
    margin-left: 5px;
    border: none;
    background-color: transparent;
  }

  &__links {
    margin: 0 0 0 15px;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    display: inline-block;
    margin-right: 15px;
  }

  &__link {
    text-decoration: none;
    color: #bdccd3;

    &----active {
      font-weight: bold;
    }
  }
}

.discord {
  margin-left: auto;
  display: flex;
  align-items: center;
  text-decoration: none;

  color: #bdccd3;
}

// Main
.main {
  padding-bottom: 50px;
  background: repeat url("../img/bg_tile2.png");
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.trailer {
  padding: 40px 40px;
  background: center url("../img/bg_trailer.png");
  background-size: cover;

  &__wrapper {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.hero {
  margin-top: 55px;
  padding: 0 34px 10px;
  background-color: $tile-color;
  text-align: center;

  &__title {
    font-family: $sub-font;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
  }

  &__text {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
  }
}

.card-container {
  margin-top: 55px;
}

.card {
  margin-top: 40px;

  &__title {
    font-family: $sub-font;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
  }

  &__description-block {
    padding: 10px;
    background-color: $tile-color;
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
  }

  &__description {
    padding: 0 30px 30px;
  }
}

.card-tile {
  padding-top: 5px;

  &__img {
    display: block;
    margin: auto;
  }

  &__description {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
}

// Footer
.footer {
  padding: 15px 0;
  background-color: $base-color1;
  color: #bdccd3;
}

// Media
@media screen and (max-width: 768px) {
  .nav .nav__item {
    display: none;
  }

  .nav.opened {
    .nav__wrapper {
      position: relative;
    }

    .nav__links {
      background-color: $base-color1;
      padding: 10px 10px 10px 10px;
      position: absolute;
      top: 24px;
      left: -68px;
      z-index: 1;
    }

    .nav__item {
      padding: 10px;
      display: block;
    }
  }
}
