$base-color1: #121821;
$base-color2: #346fa0;
$base-color3: #3d596c;
$tile-color1: adjust-color($base-color1, $alpha: -0.35);
$tile-color2: adjust-color($base-color2, $alpha: -0.35);
$tile-color3: adjust-color($base-color3, $alpha: -0.5);
$main-font: "Roboto", sans-serif;
$sub-font: "Poppins", sans-serif;

// General
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #bdccd3;

  &:hover {
    text-decoration: none;
    color: #bdccd3;
  }
}

// Header
.header {
  padding: 15px 0;
  background-color: $base-color1;
  font-family: $main-font;
  font-size: 24px;
}

.logo {
  display: flex;
  align-items: center;

  font-family: $sub-font;
  font-weight: bold;

  &__img {
    margin-right: 5px;
  }
}

.nav {
  display: flex;
  align-items: center;

  &__toggle {
    width: 28px;
    height: 30px;
    margin-left: 10px;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  &__menu {
    $menu-color: #bdccd3;

    position: relative;
    display: block;
    margin: auto;
    width: 18px;
    height: 2px;
    background-color: $menu-color;

    &::before {
      position: absolute;
      top: -6px;
      left: 0;
      content: "";
      width: 18px;
      height: 2px;
      background: $menu-color;
    }

    &::after {
      position: absolute;
      top: 6px;
      left: 0;
      content: "";
      width: 18px;
      height: 2px;
      background: $menu-color;
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 15px;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    display: inline-block;
    margin-right: 15px;
  }

  &__link {
    &--active {
      font-weight: bold;
    }

    &:hover:not(&--active) {
      color: lighten(#bdccd3, 10);
    }

    &::before {
      display: block;
      content: attr(title);
      font-weight: bold;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }
  }
}

.discord {
  display: flex;
  align-items: center;
  margin-left: auto;

  &:hover {
    color: lighten(#bdccd3, 10);
  }
}

// Main
.main {
  flex: 1 0 auto;
  padding-bottom: 50px;
  background: repeat url("../img/bg_tile.png");
  font-family: $main-font;
  font-size: 24px;
  color: #ffffff;
}

.page-title {
  margin: 0;
  font-size: 64px;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
  color: #ffefef;

  &::after {
    display: block;
    width: 1.5em;
    margin: 5px auto 20px;
    content: "";
    border-bottom: 1px solid #ffefef;
  }
}

.trailer {
  padding: 40px;
  background: center url("../img/bg_trailer.png");
  background-size: cover;

  &__wrapper {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.hero {
  margin-top: 55px;

  background-color: $tile-color1;
  backdrop-filter: blur(2px);
  text-align: center;

  &__title {
    padding: 0 0.5em;
    font-family: $sub-font;
    font-weight: 600;
    font-size: 64px;
  }

  &__text {
    font-size: 36px;
    padding: 0 1em 1em;
  }
}

.rox-creators {
  color: #4a66fa;
  text-decoration: underline;
}

.card-container {
  margin-top: 2em;
}

.card {
  margin-top: 20px;

  &__title {
    padding: 0 0.5em;
    font-family: $sub-font;
    font-weight: 600;
    font-size: 48px;
    text-align: center;
  }

  &__img {
    object-fit: cover;
  }

  &__description-block {
    padding: 0.5em;
    background-color: $tile-color1;
    backdrop-filter: blur(2px);
  }

  &__description {
    padding: 0 1.5em;
  }
}

.card-tile {
  padding-top: 5px;

  &__img {
    display: block;
    margin: auto;
  }

  &__description {
    text-align: center;
  }
}

// Download page
.download-warning {
  display: table;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: $tile-color2;
  text-align: left;
}

.download-container {
  margin-top: 20px;
  padding: 35px 45px 40px;
  background-color: $tile-color1;
  backdrop-filter: blur(2px);
}

.download-item {
  align-self: baseline;
  margin-right: 20px;
  padding: 10px 0;
  border-radius: 5px;
  background-color: $tile-color3;

  font-family: $main-font;
  font-size: 24px;
  text-align: center;
  color: #ffffff;

  &:last-child {
    margin-right: 0;
  }

  &__img {
    display: inline-block;
  }

  &__title {
    display: inline-block;
    margin-top: 10px;
    font-size: 24px;
  }

  &__button {
    margin-top: 10px;
  }

  &__description {
    display: inline-block;
    margin-top: 0.5em;
    font-size: 16px;
  }

  &__content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 16px;
    text-align: justify;
  }
}

.sys-req {
  display: table;
  margin: 20px auto 0;
  padding: 20px 0;
  background-color: $tile-color1;
  backdrop-filter: blur(2px);

  &__title {
    text-align: center;
    font-weight: normal;
  }

  &__description {
    margin-top: 10px;
    padding-right: 20px;
  }
}

.collapse {
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

// Changelog
.changelog-item {
  &__header {
    display: table;
    padding: 5px;
    border-radius: 4px 4px 0 0;
    background-color: $tile-color2;
  }

  &__version {
    font-size: 24px;
  }

  &__date {
    font-size: 18px;
    font-style: italic;
    color: #bdccd3;
  }

  table {
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    background-color: $tile-color1;
    backdrop-filter: blur(2px);
    border-collapse: separate;
    font-size: 16px;
    color: #bdccd3;

    tr {
      display: flex;
      align-items: center;
      margin-bottom: 4px;
    }

    td {
      display: inline-block;

      &:first-child {
        align-self: baseline;
        margin-right: 5px;
        text-align: center;
        vertical-align: top;
      }
    }
  }
}

// Contact
.socials {
  padding: 10px;
  background-color: $tile-color1;
  backdrop-filter: blur(2px);

  &__icon-cell {
    width: 150px;
    text-align: center;
  }

  &__description-cell {
    padding-left: 5px;
    font-size: 36px;
    text-align: left;
  }

  &__link {
    color: #8c9eff;
    text-decoration: underline;

    &:hover {
      color: darken(#8c9eff, 12);
      text-decoration: underline;
    }
  }
}

.contact-form {
  margin-top: 20px;
  padding: 20px;
  background-color: $tile-color1;
  backdrop-filter: blur(2px);

  &__title {
    font-size: 32px;
    font-weight: normal;
  }

  &__description {
    margin-top: 10px;
  }

  &__group {
    margin-top: 20px;
  }

  &__field-name {
    display: block;
    font-size: 16px;
  }

  &__field {
    width: 100%;
    padding: 4px 8px;
    border-radius: 5px;
  }
}

// Disclaimer
.disclaimer-container {
  padding: 0.5em 1em;
  background-color: $tile-color1;
  backdrop-filter: blur(2px);
  color: white;
}

// Footer
.footer {
  margin-top: auto;
  padding: 15px 0;
  background-color: $base-color1;
  color: #bdccd3;

  &__link {
    color: #8c9eff;

    &:hover {
      color: darken(#8c9eff, 12);
    }
  }
}

// Media
// Md
@media screen and (max-width: 991px) {
  .download-warning {
    font-size: 20px;
  }

  .download-item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Sm
@media screen and (max-width: 767px) {
  // Header
  .nav .nav__item {
    display: flex;
    justify-content: center;
    height: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0;
    transition: height 600ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .nav__links {
    position: absolute;
    top: 78px; // header-height
    left: 0;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    background-color: $base-color1;
    transition: height 600ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .nav.opened {
    .nav__item {
      height: 2.5em;
      padding: 0.5em;
      font-size: inherit;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  }

  // Main
  .page-title {
    font-size: 46px;
  }

  .trailer {
    padding: 15px;
  }

  .hero {
    margin-top: 20px;
    backdrop-filter: blur(2px);

    &__title {
      font-size: 36px;
    }

    &__text {
      font-size: 16px;
    }
  }

  .card {
    &__title {
      font-size: 36px;
    }

    &__description-block {
      font-size: 16px;
    }
  }

  // Download
  .download-warning {
    font-size: 14px;
  }

  .sys-req {
    font-size: 16px;
  }

  // Contact
  .socials {
    &__description-cell {
      font-size: 24px;
    }
  }
}

// Components
.button {
  display: inline-block;
  padding: 10px;
  background: $base-color2;
  border-radius: 6px;
  border: 0;
  font-size: 14px;
  color: #ffffff;

  &:hover {
    color: #ffffff;
    text-decoration: none;
  }

  &-blue {
    background: $base-color2;

    &:hover {
      background-color: darken($base-color2, 10);
    }
  }
}

.badge {
  display: inline-block;
  width: 80px;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  &-added {
    background-color: #29721d;
  }

  &-improved {
    background-color: #284652;
  }

  &-fixed {
    background-color: #346fa0;
  }

  &-hotfix {
    background-color: #afa148;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
