$base-color1: #121821;
$base-color2: #346fa0;
$base-color3: #3d596c;
$tile-color1: adjust-color($base-color1, $alpha: -0.35);
$tile-color2: adjust-color($base-color2, $alpha: -0.35);
$tile-color3: adjust-color($base-color3, $alpha: -0.5);
$main-font: "Roboto", sans-serif;
$sub-font: "Poppins", sans-serif;

// General
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

// Header
.header {
  padding: 15px 0;
  background-color: $base-color1;

  font-family: $main-font;
  font-size: 24px;
  line-height: 28px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;

  font-family: $sub-font;
  font-weight: bold;
  line-height: 36px;
  color: #bdccd3;
}

.nav {
  display: flex;
  align-items: center;

  &__toggle {
    margin-left: 5px;
    border: none;
    background-color: transparent;
  }

  &__links {
    margin: 0 0 0 15px;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    display: inline-block;
    margin-right: 15px;
  }

  &__link {
    text-decoration: none;
    color: #bdccd3;

    &----active {
      font-weight: bold;
    }
  }
}

.discord {
  margin-left: auto;
  display: flex;
  align-items: center;
  text-decoration: none;

  color: #bdccd3;
}

// Main
.main {
  flex: 1 0 auto;

  padding-bottom: 50px;
  background: repeat url("../img/bg_tile2.png");

  font-family: $main-font;
  font-size: 24px;
  line-height: 1.2;
  color: #ffffff;
}

.page-title {
  font-family: $main-font;

  font-size: 64px;
  line-height: 1.2;
  text-align: center;

  color: #ffefef;

  &__title {
    font-size: 1em;
    margin: 0;
    font-weight: normal;
  }

  &__decor-line {
    margin: 0 auto 20px;
    width: 2em;
  }
}

.trailer {
  padding: 40px;
  background: center url("../img/bg_trailer.png");
  background-size: cover;

  &__wrapper {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.hero {
  margin-top: 55px;
  padding: 0 34px 10px;
  background-color: $tile-color1;
  text-align: center;

  &__title {
    font-family: $sub-font;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
  }

  &__text {
    font-size: 36px;
    line-height: 42px;
  }
}

.card-container {
  margin-top: 55px;
}

.card {
  margin-top: 40px;

  &__title {
    font-family: $sub-font;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
  }

  &__description-block {
    padding: 10px;
    background-color: $tile-color1;
  }

  &__description {
    padding: 0 30px 30px;
  }
}

.card-tile {
  padding-top: 5px;

  &__img {
    display: block;
    margin: auto;
  }

  &__description {
    text-align: center;
  }
}

// Download page
.download-warning {
  display: table;
  margin: auto;
  padding: 5px;
  border-radius: 5px;
  background-color: $tile-color2;
  text-align: center;
}

.download-container {
  margin-top: 20px;
  padding: 35px 45px 40px;
  background-color: $tile-color1;
}

.download-item {
  align-self: baseline;
  margin-right: 20px;
  padding: 10px 0;
  border-radius: 5px;
  background-color: $tile-color3;

  font-family: $main-font;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;

  &:last-child {
    margin-right: 0;
  }

  &__img {
    display: inline-block;
  }

  &__title {
    display: inline-block;
    margin-top: 10px;
    font-size: 24px;
  }

  &__button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background: $base-color2;
    border: 0;
    border-radius: 6px;
    font-size: 14px;
    color: #ffffff;

    &:hover {
      background-color: darken($base-color2, 10);
      text-decoration: none;
      color: #ffffff;
    }
  }

  &__description {
    display: inline-block;
    margin-top: 15px;
    font-size: 16px;
  }

  &__content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 16px;
    text-align: justify;
  }
}

.sys-req {
  display: table;
  margin: 20px auto 0;
  padding: 20px 0;
  background-color: $tile-color1;

  &__title {
    text-align: center;
  }

  &__description {
    margin-top: 10px;
    padding: 0 100px 0 20px;
  }
}

.collapse {
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

// Changelog
.changelog-item {
  &__header {
    display: table;
    padding: 5px;
    border-radius: 4px 4px 0 0;
    background-color: $tile-color2;
  }

  &__version {
    font-size: 24px;
  }

  &__date {
    font-size: 18px;
    font-style: italic;
    color: #bdccd3;
  }

  ul {
    margin-bottom: 15px;
    padding: 8px;
    background-color: $tile-color1;
    list-style-type: none;
    font-size: 16px;
    color: #bdccd3;
  }

  li {
    margin-bottom: 6px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Contact
.socials {
  padding: 10px;
  background-color: $tile-color1;

  &__icon-cell {
    width: 150px;
    text-align: center;
  }

  &__description-cell {
    padding-left: 5px;
    font-size: 36px;
    text-align: left;
  }
}

.contact-form {
  margin-top: 20px;
  padding: 20px;
  background-color: $tile-color1;

  &__title {
    font-size: 32px;
    font-weight: normal;
  }

  &__description {
    margin-top: 10px;
  }

  &__group {
    margin-top: 20px;
  }

  &__field-name {
    display: block;
    font-size: 16px;
  }

  &__field {
    padding: 4px 8px;
    width: 100%;
    border-radius: 5px;
  }

  &__submit {
    margin-top: 15px;
    padding: 10px;
    background: $base-color2;
    border-radius: 6px;
    font-size: 14px;
    color: #ffffff;
    border: 0;

    &:hover {
      background-color: darken($base-color2, 10);
    }
  }
}

// Footer
.footer {
  margin-top: auto;
  padding: 15px 0;
  background-color: $base-color1;
  color: #bdccd3;
}

// Media
// Md
@media screen and (max-width: 991px) {
  .download-warning {
    font-size: 20px;
  }

  .download-item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Sm
@media screen and (max-width: 767px) {
  // Header
  .nav .nav__item {
    display: none;
  }

  .nav.opened {
    .nav__links {
      margin: 0;
      width: 100%;
      position: absolute;
      top: 58px;
      left: 0;
      z-index: 1;
      background-color: $base-color1;
    }

    .nav__item {
      margin-left: auto;
      margin-right: auto;
      padding: 10px;
      display: block;
      text-align: center;
    }
  }

  // Main
  .download-warning {
    font-size: 14px;
  }

  .trailer {
    padding: 15px;
  }

  .hero {
    margin-top: 20px;
    padding: 0 34px 10px;
    background-color: $tile-color1;
    text-align: center;

    &__title {
      font-family: $sub-font;
      font-weight: 600;
      font-size: 40px;
      line-height: 1.2;
    }

    &__text {
      font-family: $main-font;
      font-size: 24px;
      line-height: 1.2;
    }
  }
}

// Components
.badge {
  display: inline-block;
  width: 75px;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  &-added {
    background-color: #29721d;
  }
  &-improved {
    background-color: #284652;
  }
  &-fixed {
    background-color: #346fa0;
  }
  &-hotfix {
    background-color: #afa148;
  }
}
