<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <title>{{ page.title }}</title>
  </head>

  <body>
    {%- include header.html -%}
    {{ content }}
    {% include footer.html %}
  </body>
</html>
