<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap"
      rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <link rel="apple-touch-icon" sizes="180x180"
      href="assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32"
      href="assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"
      href="assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicon/site.webmanifest">
    <title>{{ page.title }}</title>
  </head>

  <body>
    {%- include header.html -%}
    {{ content }}
    {% include footer.html %}
    <script src="assets/js/index.js"></script>
  </body>
</html>
